 body {
    background-color: #1b263b;
 }

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .imgs {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
  }
  
  .img {
    filter: brightness(0%);
    background-color: #778da9;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .img:hover {
    transform: scale(1.05);
  }